/* == [Minimal Addon cards] == */
@import url("https://minidiscordthemes.github.io/MinimalAddonCards/MinimalAddonCards.theme.css");

/* == [Better Status Picker] == */
@import url("https://raw.githubusercontent.com/mintymochy/vencord-theme/main/snippets/BetterStatusPicker.css");

/* == [Spotify Profile Activity Redesign] == */ 
@import url("https://raw.githubusercontent.com/mintymochy/vencord-theme/main/snippets/SpotifyActivityRedesign.css");

/* == [Avatar Decor Checkmark] == */
@import url("https://raw.githubusercontent.com/mintymochy/vencord-theme/main/snippets/Avidecorcheckmarks.css");

/* == [Guildlist Change] == */
@import url("https://seele1306.github.io/Snippets/GuildList/import.css");

/* == [User Area Reimagined] == */
@import url("https://raw.githubusercontent.com/mintymochy/vencord-theme/main/snippets/UserReimaginedUpdated");

/* == [Toolbar Hide] == */
@import url("https://raw.githubusercontent.com/mintymochy/vencord-theme/main/snippets/Toolbarhideupdated.css"); 

/* == [Chat bubbles] == 
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/ChatBubbles/import.css");

/* == [Better Profiles] == 
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/BetterProfiles/import.css");

/* == [Consitstent Chatbar] == */
@import url("https://raw.githubusercontent.com/SEELE1306/Modular/release/src/assets/chatarea.css");

/* == [USRPFP REBORN] == */
@import url("//raw.githubusercontent.com/Yeetov/USRPFP-Reborn/main/db/dist.css");

/* ==[My Custom Font] == */
@import url(https://raw.githubusercontent.com/mintymochy/vencord-theme/main/font/font.css);
:root {
  --font-primary: "Dank Mono";
  --font-code: "Dank Mono Italic"; 
}
/* Accent Color */
:root {
	/* color of links */
	--accent-1: hsl(26, 32%, 51%);
	/* color of unread dividers and some indicators */
	--accent-2: hsl(26, 46%, 47%);
	/* color of accented buttons */
	--accent-3: hsl(26, 44%, 47%);
	/* color of accented buttons when hovered */
	--accent-4: hsl(26, 43%, 40%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(25.9, 43.9%, 35.9%);
	/* color of mentions and messages that mention you */
	--mention: rgba(143, 94, 56, 0.154);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: rgb(156, 102, 61);
}
/*No profile effects*/
[class*="profileEffects"] {
  display:none;
}
/*better folders*/
:root {
--guild-item-radius: 4px; /* 50px for round */
--guild-item-spacing: 4px;
}
/* show masked links */
.anchor_c8ddc0[title$=")"]::after {
    font-size: 0.7rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.4);
}
/*show full user bio*/
div[class*="lineClamp2Plus"] {
    display: block;
}
/* not circle avatars*/
[class^="avatar_"] {
  border-radius: 10%;
}
/* removes the "edited" text */
[class^="edited-"] {
  display: none;
}
.message__80c10 {
    margin-left: 16px;
    border-radius: 10px;
}
/*message headers & bold font coloration*/
[class*=messageContent] :is(h1, h2, h3) {
  color: #966e51;
}
[class*=messageContent] strong {
    color: #946b4a;
}
/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}
/* ShowMeYourName plugin */
.vc-smyn-suffix:before {
    content: "| @" !important
}
.vc-smyn-suffix:after {
    content: "" !important
}
.vc-smyn-suffix {
    color: currentColor !important;
    opacity: 0.5
}
/* Jump To Present Bar Revamp */
[class*="jumpToPresentBar"] {
    display: contents;
}

[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}

[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #2e353b20;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}

[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}

[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}
/*remove stuff from user panel*/
.accountProfilePopoutWrapper_af829a {
left: 0
}
.accountProfilePopoutWrapper_af829a [class*=userPopout] {
margin: 0;
width: fit-content
}
.accountProfilePopoutWrapper_af829a .section__6f61e,
.userPopoutInner_f545a3:has(#account) > *:not(:has(#account)),
.userPopoutOverlayBackground_d8afa4:has(#account) > *:not(#account) {
display: none;
}
/* Change Mention Highlight to Accent Color */
.theme-dark, .theme-light {
  --background-mentioned: var(--background-message-highlight) !important;
  --background-mentioned-hover: var(--brand-experiment-10a) !important;
}
[class*="replying"]:before,
[class*="mentioned"]:before {
  background-color: var(--brand-500);
}
/* Replaces the color of the reply and thread lines */
[class*="replying"] [class*="repliedMessage"]:before,
[class*="mentioned"] [class*="repliedMessage"]:before,
[class*="replying"][class*="hasThread"]:after,
[class*="mentioned"][class*="hasThread"]:after {
  border-color: var(--brand-500);
}
[class^="sidebar-"] [class^="panels-"] {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1px solid var(--background-modifier-accent);
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

[class^="sidebar-"] [class^="panels-"] [class^="container-"],
[class^="sidebar-"] [class^="panels-"] [class^="panel-"] {
  background-color: transparent !important;
}

[class^="sidebar-"] [class^="panels-"] [class^="container-"] [class^="flex-"] {
  margin-left: -10px;
}
#vc-spotify-player {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.userPopoutOverlayBackground_d8afa4 {
  max-height: 60vh;
}
/*Minifiedmemberlist*/
.members__9f47b,
.container_b2ce9c {
    width: 64px;
    transition: 0.3s ease;
}
.membersWrap__90226 {
    min-width: 0;
    width: min-content;
}
.container_b2ce9c:hover,
.container_b2ce9c:hover .members__9f47b {
      width: 400px;
}
.member_aa4760 {
    max-width: unset;
}
/* server list ting */
.item_f9d377 {
  	max-height: 40px;
	background-color: #fff;
	border-radius: 0;
}
/*replace edit symbol*/
.edited_b20dd9 {color: rgba(0,0,0,0)}
.edited_b20dd9::before {
        content: "(✎)";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
}
/* accent swap extras 
/* replace ping/strikethrough red */
.numberBadge__50328 /* dm unread number */,
.mention__1afd3 /* "NEW" serverlist indicator */ {
	background: var(--accent-2) !important;
}
.divider_b9338f /* unread dividers */ {
	--divider-color: var(--accent-2);
}
.strikethrough__29b20 /* mute button strikethrough */,
.strikethrough__3c54e /* channel mute button strikethrough */ {
	color: var(--accent-2) !important;
}
path[fill="var(--status-danger)"] /* vencord game activity strikethrough */ {
	fill: var(--accent-2) !important;
}
/* replace blurple */
.expandedFolderIconWrapper__458cf svg /* folder icons */ {
	color: var(--accent-2) !important;
}
.iconBadge_cc5031 /* dm button hover fill */ {
	background: var(--accent-2) !important;
}
.theme-dark {
	--blue-345: var(--accent-1); /* links */
	--brand-260: var(--accent-2); /* "NEW" channel list indicator */
	--brand-360: var(
		--accent-2
	); /* bot labels, dm button, spotify progressbar */
	--brand-430: var(--accent-4); /* send button hover */
	--brand-500: var(--accent-3); /* buttons */
	--brand-560: var(--accent-4); /* button hovered */
	--brand-600: var(--accent-5); /* button pressed */
	--mention-background: var(--mention);
	--mention-foreground: var(--accent-2);
	--background-message-highlight: var(--mention);
	--background-message-highlight-hover: var(--mention-hover) !important;
}
.container__871ba.checked__6bdb0 /* settings checkbuttons */ {
	background: var(--accent-3) !important;
}

/* replace ping yellow */
.theme-dark {
	--background-mentioned: var(--mention);
	--background-mentioned-hover: var(--mention-hover);
}
.mentioned__58017:before /* mention message left edge */ {
	background: var(--accent-3) !important;
}

/* replace green */
.theme-dark {
	--green-360: var(--accent-2); /* replace other green stuff */
	--green-430: var(--accent-3); /* green buttons (like invite) */
	--green-500: var(--accent-4); /* green button hover */
	--green-530: var(--accent-5); /* green button click */
	--text-positive: var(--accent-1);
}
.wrapper_edb6e0 rect[fill="#23a55a"]  /* replace green online circles */ {
	fill: var(--accent-2) !important;
}

/* reset this back to green because its an image :( */
.icon__28d6c {
	background-color: #3ba55c;
}
/*Mentaion hover color */
:root:root {
    --accent-h: 26;
    --accent-s: 32%;
    --accent-l: 51%;
    --brand-500-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) var(--accent-l);
}
/* bar like channel selector */
:root {
    --color-h: 26;
    --color-s: 32%;
    --color-l: 51%;
    /*  */
    --size: 3px;
    --radius: 0px;
    /*  */
    --bg-color: calc(var(--color-h)) calc(var(--color-s)) calc(var(--color-l));
}

/* the bar HOVER*/
:not([class*=container_]) > ul > [class*=containerDefault_]:hover{
    /* background-color: hsl(40, 40%, 40%); */
    /* background-color: var(--bg-color); */
    background-color: hsla(31, 36%, 21%, 0.454);
    border-left: var(--size) solid hsla(29, 35%, 31%, 0.924);
    border-radius: 0px;
}
/* the bar  SELECTED */
:not([class*=container_]) > ul > [class*=containerDefault_][class*=selected_]{
    background-color: hsla(21, 26%, 24%, 0.431); 
    border-left: var(--size) solid hsla(26, 40%, 19%, 0.861);
    border-radius: 0px;
}
:not([class*=container_]) > ul > [class*=containerDefault_][class*=selected_] > div > div > [class*="link_"] > [class*="emojiColorFill_"]
{
  margin-left: -30px;
  margin-top: 0px;
} 

:not([class*=container_]) > ul > [class*=containerDefault_] > div > div > [class*="link_"]
{
  background: none;
} 
:not([class*=container_]) > ul > [class*=containerDefault_] > div > div > div > [class*="link_"] {
    background: none;
}
:not([class*=container_]) > ul > [class*=containerDefault_][class*="wrapper_"],
[class*=container_] > ul > [class*=containerDefault_][class*="wrapper_"] > [class*="link_"]
{
    background: none;
}
