@import url(//dablulite.github.io/css-snippets/ServersList/import.css);
:root {
  --guild-list-width: 290px;
  --guild-list-height: 48px;
  --guild-item-radius: 50px;
  --guild-item-spacing: 8px;
  --guild-item-font-size: 16px;
}
.content-1SgpWY,
.base-2jDfDU {
    position: unset !important;
}

.guilds-2JjMmN {
    width: 240px;
    height: 50%;
}

.sidebar-1tnWFu {
    position: absolute;
    inset: auto auto 0 0;
    height: 50%;
}