.content-1SgpWY,
.base-2jDfDU {
    position: unset !important;
}

.guilds-2JjMmN {
    width: 240px;
    height: 50%;
}

.sidebar-1tnWFu {
    position: absolute;
    inset: auto auto 0 0;
    height: 50%;
}