/* Consistent chatbar */
@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);

/*better quick switcher*/
@import url("https://dablulite.github.io/css-snippets/QuickSwitchV2/import.css");

/* message actions hider */
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/Snippets/MessageSection/v2/import.css");

/* settings modal */
@import url(//mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);

/* Consistent chatbar */
@import url(//dablulite.github.io/css-snippets/ConsistentChatbar/import.css);

/* Guildlist Change */
@import url("https://seele1306.github.io/Snippets/GuildList/import.css");

/* message actions hider */
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/MessageSection/v2/import.css");

/* User Area Reimagined - DaBlueLite */
@import url(//dablulite.github.io/css-snippets/UserReimagined/import.css);

/* Spotify Profile Activity Redesign - DaBluLite */
@import url("https://syndishanx.github.io/Discord-Dark/Imports/SpotifyRedesign.css");

/* Better Status Picker */
@import url("https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css");

/* Discord recolor */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* My Custom Font */
@import url(https://raw.githubusercontent.com/mintymochy/vencord-theme/main/font/font.css);
/* accent colour option has been removed */
:root {
    --font-primary: "Chippyfont";
    --font-code: "Cascadia Code";
}

:root {
    --font: "Chippyfont";
    --font-code: "Cascadia Code";

    --vspr-bg-base: rgb(16, 16, 16);
    /* #101010 */
    --vspr-bg-subtle: rgb(88, 88, 88);
    /* #1c1c1c */
    --vspr-fg-base: rbg(255, 255, 255);
    /* #ffffff */
    --vspr-fg-subtle: rgb(182, 182, 182);
    /* #a0a0a0 */
    --vspr-accent: rgb(255, 199, 153);
    /* #ffc799 */
    --vspr-fg-err: rgb(255, 128, 128);
    /* #ff8080*/
    --vspr-fg-suc: rgb(153, 255, 228);
    /* #99ffe4*/

    /* END VESPER COLORS                                          */

    --accentcolor: 85, 85, 85;
    /*    Blurple            -    default:    88,101,242        -    hex:    #5865f2        */
    --accentcolor2: 85, 85, 85;
    /*    Boostpink        -    default:    255,115,250        -    hex:    #ff73fa        */
    --linkcolor: 255, 199, 153;
    /*    Link Color        -    default:    0,176,244        -    hex:    #00b0f4        */
    --mentioncolor: 255, 199, 153;
    /*    Highlight Color        -    default:    250,166,26        -    hex:    #faa61a        */
    --successcolor: 153, 255, 228;
    /*    Success Color        -    default:    59,165,92        -    hex:    #3ba55c        */
    --warningcolor: 255, 199, 153;
    /*    Warning Color        -    default:    250,166,26        -    hex:    #faa61a        */
    --dangercolor: 255, 128, 128;
    /*    Danger Color        -    default:    237,66,69        -    hex:    #ed4245        */

    --textbrightest: 255, 255, 255;
    /*    Text Color 1        -    default:    255,255,255        -    hex:    #ffffff        */
    --textbrighter: 190, 190, 190;
    /*    Text Color 2        -    default:    220,221,222        -    hex:    #dcddde        */
    --textbright: 180, 180, 180;
    /*    Text Color 3        -    default:    185,187,190        -    hex:    #b9bbbe        */
    --textdark: 180, 180, 180;
    /*    Text Color 4        -    default:    142,146,151        -    hex:    #8e9297        */
    --textdarker: 140, 140, 140;
    /*    Text Color 5        -    default:    114,118,125        -    hex:    #72767d        */
    --textdarkest: 126, 126, 126;
    /*    Text Color 6        -    default:    79,84,92        -    hex:    #4f545c        */

    --backgroundaccent: 40, 40, 40;
    /*    Background Accent    -    default:    64,68,75        -    hex:    #40444b        */
    --backgroundprimary: 16, 16, 16;
    /*    Background 1        -    default:    54,57,63        -    hex:    #36393f        */
    --backgroundsecondary: 16, 16, 16;
    /*    Background 2        -    default:    47,49,54        -    hex:    #2f3136        */
    --backgroundsecondaryalt: 16, 16, 16;
    /*    Background 3        -    default:    41,43,47        -    hex:    #292b2f        */
    --backgroundtertiary: 16, 16, 16;
    /*    Background 4        -    default:    32,34,37        -    hex:    #202225        */
    --backgroundfloating: 28, 28, 28;
    /*    Background Elevated    -    default:    24,25,28        -    hex:    #18191c        */
}

.markup:not(code) {
    font-size: 20px !important;
}

/* Automatically resizing gif picker */
:root {
    /* Change me! */
    --expression-picker-aspect-ratio: 1.125 / 1;
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
    height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
    max-height: 100%;
    bottom: 0px;
    height: auto;
    aspect-ratio: var(--expression-picker-aspect-ratio);
}

/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"] [class*="soundboardContainer_"] [class*="picker_"] {
    height: 100%;
}

/*No profile effects*/
[class*="profileEffects"] {
    display: none;
}

/*show full user bio*/
div[class*="lineClamp2Plus"] {
    display: block;
}

/* removes the "edited" text */
[class^="edited-"] {
    display: none;
}

.message__80c10 {
    margin-left: 16px;
    border-radius: 10px;
}

/* ShowMeYourName @ plugin */
.vc-smyn-suffix:before {
    content: "| @" !important
}

.vc-smyn-suffix:after {
    content: "" !important
}

.vc-smyn-suffix {
    color: currentColor !important;
    opacity: 0.5
}

/* show masked links */
.anchor_c8ddc0[title$=")"]::after {
    font-size: 0.7rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.4);
}

/* server list ting */
.item_f9d377 {
    max-height: 40px;
    background-color: #fff;
    border-radius: 0;
}

/*fix mosaic zoom*/
[class^="imageWrapper_"] img[class^="lazyImg"] {
    object-fit: contain !important;
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/*chat bar resizers
.buttons_ce5b56 {
    margin: 6px 6px 6px auto !important;
    margin-left: auto;
    max-width: calc(40px * 3);
    min-width: calc(40px * 2);
    width: min-content;
    display: flex;
    gap: 6px 0;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    height: fit-content;
    justify-content: right;
}

.buttons_ce5b56 .buttonContainer__8b164,
.buttons_ce5b56>.button_afdfd9 {
    width: 40px;
}

.separator__8424b {
    margin: 0;
    justify-content: center;
    width: 40px;
}

.separator__8424b::before {
    display: none;
}

.separator__8424b .innerButton_debeee {
    margin: 0;
}

.textArea__74543 {
    width: fit-content;
    flex-grow: 1.01;
}
