/* accent colour option has been removed */
:root {
  --font-primary: "Cascadia Code";
  --font-code: "Cascadia Code";
}

/* Automatically resizing gif picker */
:root {
  /* Change me! */
  --expression-picker-aspect-ratio: 1.125 / 1;
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
  height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
  max-height: 100%;
  bottom: 0px;
  height: auto;
  aspect-ratio: var(--expression-picker-aspect-ratio);
}

/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"] [class*="soundboardContainer_"] [class*="picker_"] {
  height: 100%;
}

/*No profile effects*/
[class*="profileEffects"] {
  display: none;
}

/*show full user bio*/
div[class*="lineClamp2Plus"] {
  display: block;
}

/* removes the "edited" text */
[class^="edited-"] {
  display: none;
}

.message_ccca67 {
  margin-left: 16px;
  border-radius: 10px;
}

/* ShowMeYourName @ plugin */
.vc-smyn-suffix:before {
  content: "| @" !important
}

.vc-smyn-suffix:after {
  content: "" !important
}

.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5
}

/* show masked links */
.anchor_c8ddc0[title$=")"]::after {
  font-size: 0.7rem;
  content: " (" attr(href) ")";
  filter: grayscale(0.4);
}

/* server list ting */
.item_f9d377 {
  max-height: 40px;
  background-color: #FFF;
  border-radius: 0;
}

/*fix mosaic zoom*/
[class^="imageWrapper_"] img[class^="lazyImg"] {
  object-fit: contain !important;
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/*headers*/
[class*=messageContent] :is(h1, h2, h3) {
  color: #99FFE4;
}

[class*=messageContent] strong {
  color: #FFC799;
}

/*fix image thing */
[class^="imageWrapper_"] img[class^="lazyImg"] {
  object-fit: contain !important;
}

.layerContainer_a2fcaa:has(.openedItemTextOpened__2afcd) {
  display: none;
}

/* Custom Emoji Button */
.sprite__294b3.spriteColored__9a869 {
  background-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  background-size: 24px;
}

.sprite__294b3.spriteGreyscale__750f4 {
  mask-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.png?size=128&quality=lossless);
  mask-size: 24px;
}

[class^="accountProfilePopoutWrapper"] .section__62b44,
.userPopoutInner_e90432:has(#account)>*:not(:has(#account)),
.userPopoutOverlayBackground_bf6444:has(#account)>*:not(#account) {
  display: none !important;
}

[class^="accountProfilePopoutWrapper_"] {
  left: 0;
}

[class^="accountProfilePopoutWrapper_"] [class*="userPopout"] {
  margin: 0;
  width: fit-content;
}

/*better channel selectors*/
:is(.containerDefault_ae2ea4.selected__11b62, .modeUnreadImportant__35358) .icon__67ab4,
.selected__7f4cb .layout_bb8e67,
.channel__0aef5.container-32HW5s>.interactiveSelected__689f0,
.navButtonActive__0c878 {
  background: var(--brand-experiment-50a);
}

.icon__67ab4 {
  width: 15px;
  height: 15px;
  margin: 2px 2px 0 0;
  border-radius: 4px;
  padding: 3px;
}

:is(.containerDefault_ae2ea4.selected__11b62, .modeUnreadImportant__35358) .icon__67ab4 {
  color: var(--interactive-active);
}

.containerDefault_ae2ea4:hover .icon__67ab4 {
  color: var(--interactive-active);
  background: var(--brand-experiment-50a);
}

[class*="unread_"] {
  display: none;
}

/*emoji skew and large emojis*/
em .emoji {
  transform: skew(-14deg);
}

.emoji.jumboable {
  /* 96px is the size of the actual image, anything higher will be blurry */
  width: 64px;
  height: 64px;
}

/*     Inline code, not blocks      */
[class*="scrollbarGhostHairline_"] {
  font-size: 1rem !important;
  line-height: 1.375rem !important;
  font-family: var(--font-primary) !important;

  background: none !important;
  border: none !important;

  padding: 0em !important;
}

[class*="codeActions_"] {
  display: none !important;
}

[class="inline"] {
  font-size: 100% !important;
  font-family: var(--font-primary) !important;
  background: none !important;
  padding: 0em !important;
}

[class*="codeLine_"] {
  font-size: 100% !important;
  font-family: var(--font-primary) !important;
}

pre:has([class*="codeContainer_"]) {
  margin-top: 0px !important;
  max-width: 100% !important;
}