/*accent recolor*/
@import url("https://dablulite.github.io/css-snippets/AccentSwap/import.css");

/*other colors*/
@import url("https://raw.githubusercontent.com/SEELE1306/CSS-Snippets/main/Snippets/ChangeColor/OtherColors/import.css");

:root:root {
    --accent-h: 210;
    --accent-s: 34%;
    --accent-l: 63.1%;
}

/*
@import url('https://raw.githubusercontent.com/refact0r/css-snippets/main/accent.css');
:root {
    /* color of links 
    --accent-1: hsl(190, 80%, 60%);
    /* color of unread dividers and some indicators 
    --accent-2: hsl(190, 80%, 48%);
    /* color of accented buttons 
    --accent-3: hsl(190, 80%, 42%);
    /* color of accented buttons when hovered 
    --accent-4: hsl(190, 80%, 36%);
    /* color of accented buttons when clicked 
    --accent-5: hsl(190, 80%, 30%);
    /* color of green online dot, change to #23a55a for default green 
    --online-indicator: var(--accent-2);
    /* color of mentions and messages that mention you 
    --mention: hsla(190, 80%, 52%, 0.1);
    /* color of mentions and messages that mention you when hovered 
    --mention-hover: hsla(190, 80%, 52%, 0.05);
}
*/